malaya==5.0
tensorflow
torch
dateparser
scikit-learn
safetensors
requests
unidecode
numpy
scipy
ftfy
networkx
sentencepiece
tqdm
herpetologist
malaya-boilerplate
regex
transformers
streamlit
fuzzywuzzy
langchain
openai
SQLAlchemy
PyMySQL
